@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

body {
  background: #151516;
}

section {
  padding: 2rem 2%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.heading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: .1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
  }

  .new-account span{
    color: rgb(190, 190, 190);
  }

.heading span {
  font-size: 3rem;
  color: #5c0dab;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar a:hover {
  background: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: rgb(12, 12, 12);
}

#menu-btn {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
  }


.heading span {
  font-size: 3rem;
  color: #5c0dab;
  padding: .5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: .5rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem 1rem;
    padding-right: 3rem;
    background: linear-gradient(#5c0dab 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;

  }
  
  .header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
  }
  
  .header .logo span {
    color: #5c0dab;
  }
  
  .header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
  }

body {
    margin: 0;
}

.form-box{
  position: fixed;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  margin: 12% auto;
  padding: 50px 0;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

h1{
  text-align: center;
  margin-bottom: 40px;
}

.input-box{
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-box input{
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  margin-left: 10px;
}

.input-box2{
  margin: 10px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 5px;
}

.input-box2 input{
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  margin-left: 10px;
}


::placeholder{
  color: #ccc;
}

.fa {
  margin-right: 10px;
}

.eye {
  position: absolute;
}

#hide1{
  display: none;
}

.login-btn{
  margin: 40px auto 20px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

.main-login{
  width: 100vw;
  height: 100vh;
  background-color: #111;
  display: flex; /*deixa coisas lado a lado*/
  justify-content: center; /*alinha abscissas*/
  align-items: center; /*alinha ordenadas*/
}


.left-login{

  width: 50vw;
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.right-login{
  width: 50vw;
  height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login img{
  position: fixed;
   width: 52vw;
   height: 100hv;
}


.forgot-password a {
  display: inline-block;
  padding: 10px 20pz;
  font-size: 15px;
  color: rgb(53, 52, 52);
  margin-left: 50px;
}

.forgot-password a:hover{
  color: rgb(148, 148, 148);
}

.new-account a {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 15px;
  color: grey;
  margin-left: 100px;
}

.login-btn:hover{
  background: #111;
  border:#111;
}

.new-account span:hover{
  color: white;
}





.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.popup .close-popup-button {
  background-color: #ee404c;
  border: none;
  padding: 8px 30px;
  border-radius: 16px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all .4s;
  margin: 12px 0;
}

.popup-button:hover,
.popup .close-popup-button:hover {
  opacity: .8;
}

.popup-button:active,
.popup .close-popup-button:active {
  transform: scale(.8);
}

.popup {
 
  position: absolute;
  background-color: #333;
  padding: 30px 50px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  transition: all .4s;
  z-index: -1;
  transform: scale(.4);
  opacity: 0;
}

.popup.opened {
  z-index: 999;
  transform: scale(1);
  opacity: 1;
}

.popup img {
  width: 100px;
}

.popup h2.title {
  color: #ee404c;
}

.popup p.desc {
  color: #FFF;
}


@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: rgb(12, 12, 12);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }

  .home .slide .content span {
    font-size: 5rem;
  }
  
  .home .slide .content h3 {
    font-size: 3rem;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
