@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;

  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}

body {
  background: #151516;
}

section {
  padding: 5rem 4%;
}

.heading {
  margin-bottom: 3rem;
  position: relative;
  display: block;
  margin-bottom: 50px;
}

.header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
  }



  /* From uiverse.io by @adamgiebl */
button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: white;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid white;
   }
   
   button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--lightgray);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    background: #5c0dab;
   }
   
   button:hover {
    color: white;
   }
   
   button:active span::before {
    background: #5c0dab;
   }









   .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
  }

  #menu-btn {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  z-index: 10000;
  background: #000;
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
  }
  
  .header .logo span {
    color: #5c0dab;
  }

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: #fff;
}

.sla{
  min-height: 6.5vh;
}

#menu-btn {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }

.banner {
  display: block;
  margin: 35px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 40px;
}
/*
.banner:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.banner:hover:after {
    opacity: 1;
}
*/
.banner h3 {
  padding-top: 15rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-align: left;
}

.banner p {
  max-width: 60rem;
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
  text-align: left;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .information {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35rem;
          flex: 1 1 35rem;
}

.about .information span {
  font-size: 2rem;
  color: #5c0dab;
}

.about .information h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 1rem;
}

.about .information p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  padding: 1rem 0;
}

.about .about-slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

.about .about-slider .slide {
  background: linear-gradient(130deg, #111 93%, transparent 90%);
  padding: 2rem 3rem;
}

.about .about-slider .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
}


.about .about-slider .slide .icon-card img {
  height: 5rem;
  width: 5rem;
  display: flex;
}

/* From uiverse.io by @satyamchaudharydev */
.button2 {
    --primary-color: #5c0dab;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  }
  
  .button2 .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button2 .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .button2 .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
.banner:hover{
  transform: scale(1.005);
  box-shadow: 0px 40px 40px rgba(0,0,0,0.2);
}

  .button2:hover {
    background-color: var(--hover-color);
  }
  
  .button2:hover .arrow {
    background: var(--secondary-color);
  }
  
  .button2:hover .arrow:before {
    right: 0;
  }

.title-card{
    color:#fff;
    font-size: 22px;
    margin-bottom: 15px;
}

.about .about-slider .slide i {
    font-size: 5rem;
    margin-left: 21rem;
    margin-right: 2rem;
    color: #5c0dab;
  }

.footer{
    background-color: #111;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box .links {
  font-size: 1.5rem;
  display: block;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box .links:hover {
  color: #5c0dab;
}
.footer .box-container .box p {
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.footer .box-container .box span {
    font-size: 1.5rem;
    color: #aaa;
    padding: 1rem 0;
  }

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #5c0dab;
}

.footer .box-container .box span  {
    padding-right: .5rem;
    color: #5c0dab;
  }

.footer .box-container .box .share {
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: #fff;
  background: #111;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #5c0dab;
}

.footer .box-container .box form .email {
  margin-bottom: 1rem;
  width: 100%;
  background: #111;
  padding: 1.2rem;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.blogs .slide {
  background: #111;
  margin-bottom: 7rem;
}

.blogs .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .slide .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.blogs .slide .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .slide .content {
  padding: 2rem;
}

.blogs .slide .content .link {
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

.blogs .slide .content .link a {
  color: #5c0dab;
}

.blogs .slide .content .link a:hover {
  color: #fff;
}

.heading .span1 {
  font-weight: bold;
  font-size: 5rem;
  color: white;
  background: #151516;
  padding: .5rem 1.5rem;
}

.heading span {
  font-size: 3.5rem;
  color: white;
  background: #151516;
  padding: .5rem 1.5rem;
}

.blogs .slide .content .link span {
  color: #fff;
  padding: 0 1rem;
}

.blogs .slide .content h3 {
  font-size: 2rem;
  color: #fff;
  line-height: 1.5;
}

.blogs .slide .content p {
  font-size: 1.5rem;
  color: #aaa;
  line-height: 2;
  padding: 1rem 0;
}




@media (max-width: 991px) {
  html {
    font-size: 55%;
    scroll-padding: 7rem;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
      }
      #menu-btn.fa-times {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }
  .features .box-container .box.second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .sla{
    min-height: 8.5vh;
  }

  .banner{
    margin: 20px;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */